[submodule "ros/src/mav_trajectory_generation"]
	path = ros/src/mav_trajectory_generation
	url = https://github.com/ethz-asl/mav_trajectory_generation.git
[submodule "ros/src/eigen_catkin"]
	path = ros/src/eigen_catkin
	url = https://github.com/ethz-asl/eigen_catkin.git
[submodule "ros/src/eigen_checks"]
	path = ros/src/eigen_checks
	url = https://github.com/ethz-asl/eigen_checks.git
[submodule "ros/src/glog_catkin"]
	path = ros/src/glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
[submodule "ros/src/mav_comm"]
	path = ros/src/mav_comm
	url = https://github.com/ethz-asl/mav_comm.git
[submodule "ros/src/nlopt"]
	path = ros/src/nlopt
	url = https://github.com/ethz-asl/nlopt.git
[submodule "ros/src/catkin_simple"]
	path = ros/src/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "ros/src/yaml_cpp_catkin"]
	path = ros/src/yaml_cpp_catkin
	url = https://github.com/ethz-asl/yaml_cpp_catkin.git
[submodule "bridge_ws/src/ros1_bridge"]
	path = bridge_ws/src/ros1_bridge
	url = https://github.com/ros2/ros1_bridge.git
	branch = dashing
[submodule "ros2/src/ros_tsdf"]
	path = ros2/src/ros_tsdf
	url = https://github.com/naraharip2017/ros_tsdf.git
[submodule "ros2/tkDNN"]
	path = ros2/src/cinematography/tkDNN
	url = https://github.com/nightduck/tkDNN.git
